<!DOCTYPE html>
<html lang="en">

<%- include('./partials/header') %>

<body>
    <div class="wrapper">
        <%- include('./partials/slidebar') %>

        <div id="content" class="p-4 p-md-5" style="background-color:#f1f2f5 ;">
            <div class="container mt-5">
                <div class="card">
                    <div class="card-header text-center">
                        <h2>Product Form</h2>
                    </div>
                    <div class="card-body">
                        <form action="/admin/products/addProduct" method="post" enctype="multipart/form-data">
                            <!-- Image Upload Section -->
                            <div class="form-group text-center">
                                <label for="productImages">Image Upload</label>
                                <div class="d-flex justify-content-center">
                                    <!-- Box 1 -->
                                    <div class="product-image-box mx-2">
                                        <label for="productImage1" class="image-label">
                                            <img id="previewImage1" class="image-preview" src="" alt="" style="display:none;">
                                            <i class="fa fa-picture-o fa-2x"></i>
                                            <input type="file" class="form-control-file image-input" id="productImage1" accept="image/*" onchange="previewImage(event, 'previewImage1')" name="img1" required>
                                        </label>
                                    </div>
                                    <!-- Box 2 -->
                                    <div class="product-image-box mx-2">
                                        <label for="productImage2" class="image-label">
                                            <img id="previewImage2" class="image-preview" src="" alt="" style="display:none;">
                                            <i class="fa fa-picture-o fa-2x"></i>
                                            <input type="file" class="form-control-file image-input" id="productImage2" accept="image/*" onchange="previewImage(event, 'previewImage2')" name="img2" required>
                                        </label>
                                    </div>
                                    <!-- Box 3 -->
                                    <div class="product-image-box mx-2">
                                        <label for="productImage3" class="image-label">
                                            <img id="previewImage3" class="image-preview" src="" alt="" style="display:none;">
                                            <i class="fa fa-picture-o fa-2x"></i>
                                            <input type="file" class="form-control-file image-input" id="productImage3" accept="image/*" onchange="previewImage(event, 'previewImage3')" name="img3" required>
                                        </label>
                                    </div>
                                </div>
                            </div>
        
                            

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="productName">Product Name</label>
                                    <input type="text" class="form-control" id="productName" name="productName" placeholder="ex. Chessbase17" required>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="productPrice">Price</label>
                                    <input type="number" class="form-control" id="productPrice" name="price" placeholder="ex. 1000" min="0" required>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="productOffer">Offer</label>
                                    <input type="number" class="form-control" id="productOffer" name="offers" placeholder="ex. 1000" min="0" required>
                                </div>

                                <div class="form-group col-md-6">
                                    <div class="form-group">
                                        <label for="productCategory">Category</label>
                                        <select id="productCategory" class="form-control" name="category" required >
                                            <option value="" disabled selected>Select a category</option>
                                            <% categories.forEach((category)=>{ %>
                                                <option><%= category.categoryName %></option>
                                            <%  }) %>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group col-md-6">
                                    <div class="form-group">
                                        <label for="productSubCategory">Sub Category</label>
                                        <select id="productSubCategory" class="form-control" name="subCategory" required>
                                            <option value="" disabled selected>Select a sub category</option>
                                            <% subCategories.forEach((subCategory)=>{ %>
                                                <option><%= subCategory.subCategoryName %></option>
                                            <% }) %>
                                        </select>
                                    </div>
                                </div>
                                
                                <div class="form-group col-md-6">
                                    <label for="productWeight">Stock</label>
                                    <input type="number" class="form-control" id="productWeight" name="stock" placeholder="ex. 500gm" required>
                                </div>
                            </div>
        
                            <div class="form-group">
                                <label for="productAbout">About</label>
                                <textarea class="form-control" id="productAbout" rows="1" name="productAbout" required></textarea>
                            </div>

                            <div class="form-group">
                                <label for="productDescription">Description</label>
                                <textarea class="form-control" id="productDescription" rows="1" oninput="adjustTextareaHeight(this)" name="productDescription" required></textarea>
                            </div>
        
                            <!-- Submit Button -->
                            <button type="submit" class="btn btn-primary btn-block">Save Product</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>  

    <%- include('./partials/footer') %>


    <script>
        function previewImage(event, previewId) {
            const file = event.target.files[0];
            if (file) {
                const reader = new FileReader();
                reader.onload = function(e) {
                    const previewElement = document.getElementById(previewId);
                    previewElement.src = e.target.result;
                    previewElement.style.display = 'block';
        
                    // Hide the icon after image loads
                    const iconElement = previewElement.parentElement.querySelector('i');
                    if (iconElement) {
                        iconElement.style.display = 'none';
                    }
                }
                reader.readAsDataURL(file);
            }
        }

        function adjustTextareaHeight(textarea) {
        textarea.style.height = 'auto';

        textarea.style.height = (textarea.scrollHeight) + 'px';
        }
    </script>
</body>
</html>