<!DOCTYPE html>
<html lang="en">

<%- include('./partials/header') %>

    <body style="height: auto !important;">
        <div class="wrapper">
            <%- include('./partials/slidebar') %>

                <div id="content" class="container-fluid">
                    <h1 class="m-b-10 admin_title">Categories</h1>
                    <div class="container p-b-50">
                        <div class="search-bar-container">
                            <!-- Search Form -->
                            <form action="/admin/categories" method="GET" class="search-input-group">
                                <input type="text" id="search-input" name="search" class="form-control search-input"
                                placeholder="search" value="<%= searchFilter ? searchFilter:null %>">
                                <a href="/admin/categories?search=">
                                    <button type="button" class="btn-clear" id="clear-btn">
                                        <i class="fas fa-times"></i>
                                    </button>
                                </a>
                                <button type="submit" class="btn-search">
                                    <i class="fas fa-search"></i>
                                </button>
                            </form>

                        </div>

                        <button class="btn-add" data-toggle="modal" data-target="#addCategoryModel">
                            <i class="fas fa-plus"></i> New Category
                        </button>



                    </div>

                    <div class="table-responsive">

                        <table class="table table-bordered m-t-10">
                            <thead>
                                <tr>
                                    <th>Category Name</th>
                                    <th>Category Description</th>
                                    <th></th>
                                    <th></th>

                                </tr>
                            </thead>
                            <tbody>
                                <% categoryList.forEach(category=> { %>
                                    <tr>
                                        <td>
                                            <%= category.categoryName %>
                                        </td>
                                        <td>
                                            <%= category.categoryDescription %>
                                        </td>
                                        <td><button class="btn btn-dark btn-sm" type="submit"
                                                data-category-item="<%= JSON.stringify(category)%>"
                                                onclick="editCategoryModel(event,'<%=category._id%>')"
                                                data-toggle="modal" data-target="#editCategoryModel">
                                                <i class="fas fa-pencil-alt"></i></button>
                                        </td>
                                        <td>
                                            <button class="btn btn-sm fs-15" onclick="listUnlistCategory('<%=category._id%>','<%= !category.isListed %>')">
                                                <% if(category.isListed){ %>
                                                    <i class="fas fa-times-circle"></i> Unlist          
                                                <% }else{ %>
                                                    <i class="fas fa-list"></i> List
                                                <% } %>
                                            </button>
                                        </td>
                                    </tr>
                                <% }) %>
                            </tbody>
                        </table>
                    </div>
                    <div class="flex-c-m flex-w w-full p-t-45 gap-10">
                        <!-- Previous Button -->
                        <a href="/admin/categories?search=<%= searchFilter %>&&page=<%= (currentPage>1)? Number(currentPage)-1:1 %>"
                            class="m-r-20 text-dark">
                            <i class="fas fa-chevron-left"></i> Previous
                        </a>
                        <P class="m-r-20 text-dark">page : <%= currentPage %> of <%= Math.ceil(totalNoOfPages) %>
                        </P>
                        <!-- Next Button -->
                        <a href="/admin/categories?search=<%= searchFilter %>&&page=<%= (currentPage<totalNoOfPages)? Number(currentPage)+1:currentPage %>"
                            class=" text-dark">
                            Next <i class="fas fa-chevron-right"></i>
                        </a>

                    </div>

                </div>



                <!-- modal to add new Category -->
                <div class="modal fade m-t-50" id="addCategoryModel" tabindex="-2" role="dialog">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">New category</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="form-group">
                                        <label for="categoryName" class="col-form-label">Category Name</label>
                                        <input type="text" class="form-control" id="categoryName">
                                    </div>
                                    <div class="form-group">
                                        <label for="categoryDescription" class="col-form-label">Cateogry
                                            Description</label>
                                        <input type="text" class="form-control" id="categoryDescription">
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" onclick="addCategory(event)">Add</button>
                            </div>
                        </div>
                    </div>
                </div>



                <!-- modal to edit category -->
                <div class="modal fade m-t-50" id="editCategoryModel" tabindex="-2" role="dialog">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Edit Category</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="form-group">
                                        <label for="categoryNameEdit" class="col-form-label">Category Name</label>
                                        <input type="text" class="form-control" id="categoryNameEdit">
                                    </div>
                                    <div class="form-group">
                                        <label for="categoryDescriptionEdit" class="col-form-label">Category
                                            Description</label>
                                        <input type="text" class="form-control" id="categoryDescriptionEdit">
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer" id="editcategoryDiv">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>



                <%- include('./partials/footer') %>
                    <script src="/public/JS/checkCategorySubcategoryValid.js"></script>
                    <script>
                        function editcategory(ID) {

                        }
                    </script>
                    <script>
                        function addCategory(event) {
                            event.preventDefault()
                            const categoryName = document.getElementById('categoryName').value;
                            const categoryDescription = document.getElementById('categoryDescription').value;
                            let error = checkCategorySubCategoryValid(categoryName, categoryDescription)
                            if (error) {
                                Swal.fire({
                                    icon: "error",
                                    title: "Validation Error",
                                    text: error,
                                });
                                return
                            }
                            fetch('/admin/categories', {
                                method: "POST",
                                headers: {
                                    'Content-Type': 'application/json'
                                },
                                body: JSON.stringify({ categoryName, categoryDescription })
                            })
                                .then(res => res.json())
                                .then((data) => {
                                    if (data.validationError) {
                                        let timerInterval;
                                        Swal.fire({
                                            title: "Validation Error",
                                            html: "You will be redirected to login in <b></b> milliseconds.",
                                            timer: 2000,
                                            timerProgressBar: true,
                                            didOpen: () => {
                                                Swal.showLoading();
                                                const timer = Swal.getPopup().querySelector("b");
                                                timerInterval = setInterval(() => {
                                                    timer.textContent = `${Swal.getTimerLeft()}`;
                                                }, 100);
                                            },
                                            willClose: () => {
                                                clearInterval(timerInterval);
                                            }
                                        }).then((result) => {
                                            /* Read more about handling dismissals below */
                                            if (result.dismiss === Swal.DismissReason.timer) {
                                                window.location.href = data.redirectUrl;
                                            }
                                        });
                                    }

                                    if (data.success) {
                                        const Toast = Swal.mixin({
                                            toast: true,
                                            position: "top-end",
                                            showConfirmButton: false,
                                            timer: 2000,
                                            timerProgressBar: true,
                                            didOpen: (toast) => {
                                                toast.onmouseenter = Swal.stopTimer;
                                                toast.onmouseleave = Swal.resumeTimer;
                                            }
                                        });
                                        Toast.fire({
                                            icon: "success",
                                            title: `new category ${categoryName} added`
                                        });
                                        setTimeout(() => {
                                            window.location.reload()
                                        }, 2000)

                                    }

                                    if (data.error) {
                                        Swal.fire({
                                            icon: "error",
                                            title: "Validation Error",
                                            text: data.error,
                                        });
                                    }
                                })
                        }

                        function editCategoryModel(e, _id) {

                            const categorydata = e.target.closest('button');

                            const { categoryName, categoryDescription } = JSON.parse(categorydata.getAttribute('data-category-item'));


                            document.getElementById('categoryNameEdit').value = categoryName;
                            document.getElementById('categoryDescriptionEdit').value = categoryDescription;

                            // Get the parent div where the button should be appended
                            const editcategoryDiv = document.getElementById('editcategoryDiv');

                            // Check if the edit button already exists
                            if (!document.getElementById('editcategoryButton')) {
                                var editButton = document.createElement('button');
                                editButton.textContent = "Edit";
                                editButton.id = 'editcategoryButton';
                                editButton.onclick = () => editCategory(event, _id);
                                editButton.classList.add('btn', 'btn-primary');

                                editcategoryDiv.appendChild(editButton);
                            }
                        }


                        function editCategory(event, ID) {

                            event.preventDefault();
                            const categoryName = document.getElementById('categoryNameEdit').value;
                            const categoryDescription = document.getElementById('categoryDescriptionEdit').value;
                            let error = checkCategorySubCategoryValid(categoryName, categoryDescription)
                            if (error) {
                                Swal.fire({
                                    icon: "error",
                                    title: "Validation Error",
                                    text: error,
                                });
                                return
                            }
                            fetch(`/admin/categories/${ID}`, {
                                method: "PUT",
                                headers: {
                                    'Content-Type': 'application/json'
                                },
                                body: JSON.stringify({ categoryName, categoryDescription })
                            })
                                .then(res => res.json())
                                .then((data) => {
                                    if (data.validationError) {
                                        let timerInterval;
                                        Swal.fire({
                                            title: "Validation Error",
                                            html: "You will be redirected to login in <b></b> milliseconds.",
                                            timer: 2000,
                                            timerProgressBar: true,
                                            didOpen: () => {
                                                Swal.showLoading();
                                                const timer = Swal.getPopup().querySelector("b");
                                                timerInterval = setInterval(() => {
                                                    timer.textContent = `${Swal.getTimerLeft()}`;
                                                }, 100);
                                            },
                                            willClose: () => {
                                                clearInterval(timerInterval);
                                            }
                                        }).then((result) => {
                                            /* Read more about handling dismissals below */
                                            if (result.dismiss === Swal.DismissReason.timer) {
                                                
                                                window.location.href = data.redirectUrl;
                                            }
                                        });
                                    }

                                    if (data.success) {
                                        const Toast = Swal.mixin({
                                            toast: true,
                                            position: "top-end",
                                            showConfirmButton: false,
                                            timer: 2000,
                                            timerProgressBar: true,
                                            didOpen: (toast) => {
                                                toast.onmouseenter = Swal.stopTimer;
                                                toast.onmouseleave = Swal.resumeTimer;
                                            }
                                        });
                                        Toast.fire({
                                            icon: "success",
                                            title: `Category has been edited`
                                        });
                                        setTimeout(() => {
                                            window.location.reload()
                                        }, 2000)

                                    }

                                    if (data.error) {
                                        Swal.fire({
                                            icon: "error",
                                            title: "Validation Error",
                                            text: data.error,
                                        });
                                    }
                                })
                        }


                        function listUnlistCategory(ID,list) {
                            console.log(list);
                            
                            Swal.fire({
                                title: "Are you sure?",
                                text: `Do you want to ${(eval(list)? 'list':'unlist')} this category`,
                                icon: "warning",
                                showCancelButton: true,
                                confirmButtonColor: "#3085d6",
                                cancelButtonColor: "#d33",
                                confirmButtonText: "Yes"
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    fetch(`/admin/categories/${ID}`, {
                                        method: "PATCH",
                                        headers: {
                                            'Content-Type': 'application/json'
                                        },
                                        body:JSON.stringify({list})
                                    }).then(res => res.json())
                                        .then((data) => {
                                            if (data.validationError) {
                                                let timerInterval;
                                                Swal.fire({
                                                    title: "Validation Error",
                                                    html: "You will be redirected to login in <b></b> milliseconds.",
                                                    timer: 2000,
                                                    timerProgressBar: true,
                                                    didOpen: () => {
                                                        Swal.showLoading();
                                                        const timer = Swal.getPopup().querySelector("b");
                                                        timerInterval = setInterval(() => {
                                                            timer.textContent = `${Swal.getTimerLeft()}`;
                                                        }, 100);
                                                    },
                                                    willClose: () => {
                                                        clearInterval(timerInterval);
                                                    }
                                                }).then((result) => {
                                                    /* Read more about handling dismissals below */
                                                    if (result.dismiss === Swal.DismissReason.timer) {
                                                        
                                                        window.location.href = data.redirectUrl;
                                                    }
                                                });
                                            }

                                            if (data.error) {
                                                Swal.fire({
                                                    icon: "error",
                                                    title: "Validation Error",
                                                    text: data.error,
                                                });
                                            }

                                            if (data.success) {
                                                Swal.fire({
                                                    text: `You ${(eval(list)? 'listed':'unlisted')} the category`,
                                                    icon: "success",
                                                    timer: 2000
                                                });

                                                setTimeout(() => {
                                                    window.location.reload()
                                                }, 2000)

                                            }
                                        })
                                }
                            });

                        }
                    </script>

    </body>

</html>