<!DOCTYPE html>
<html lang="en">

<%- include('./partials/header') %>

    <body>
        <div class="wrapper">
            <%- include('./partials/slidebar') %>

                <div id="content" class="container-fluid">
                    <h1 class="m-b-10 admin_title">Orders</h1>
                    

                    <div class="table-responsive">

                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Email</th>
                                    <th>Base Price</th>
                                    <th>Discount</th>
                                    <th>Total Ammount</th>
                                    <th>Status</th>
                                    <th>Payment Status</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <% orders.forEach(order=> {%>
                                    <tr>
                                        <td>
                                            <%=order.createdAt.toLocaleDateString()%>
                                        </td>
                                        <td>
                                            <%= order.userID.email %>
                                        </td>
                                        <td>
                                            <%= order.basePrice %>
                                        </td>
                                        <td>
                                            <%=order.discount %>
                                        </td>
                                        <td>
                                            <%=order.totalAmmount %>
                                        </td>
                                        <td>
                                            <%=order.orderStatus %>
                                        </td>
                                        <td>
                                            <%= order.paymentStatus %>
                                        </td>
                                        <td>
                                            <form action="/admin/orders/viewEditOrder/<%= order._id %>" method="get">
                                                <button class="btn btn-dark btn-sm"><i class="fas fa-pencil-alt"></i>
                                                    View/Edit</button>
                                            </form>

                                        </td </tr>
                                        <% }); %>

                            </tbody>
                        </table>
                    </div>
                    <div class="flex-c-m flex-w w-full p-t-45 gap-10">
                        <!-- Previous Button -->
                        <a href="/admin/orders?page=<%= (currentPage>1)? Number(currentPage)-1:1 %>"
                            class="m-r-20 text-dark">
                            <i class="fas fa-chevron-left"></i> Previous
                        </a>
                        <P class="m-r-20 text-dark">page : <%= currentPage %> of <%= totalNoOfPages %></P>
                        <!-- Next Button -->
                        <a href="/admin/orders?page=<%= (currentPage<totalNoOfPages)? Number(currentPage)+1:currentPage %>"
                            class=" text-dark">
                            Next <i class="fas fa-chevron-right"></i>
                        </a>


                    </div>
                </div>

        </div>

        <%- include('./partials/footer') %>
    </body>

</html>