<%- include('./partials/header') %>

<body>
    <div class="wrapper">
        <div class="row">
            <!-- Sidebar Section -->
            <div class="col-md-3 col-lg-2">
                <%- include('./partials/slidebar') %>
            </div>

            <!-- Main Content Section -->
            <div class="container mt-4">
                <div class="d-flex justify-content-between align-items-center mb-4">
                    <!-- Filter Section -->
                    <form action="/admin/sales" method="get">
                    <div class="d-flex align-items-center">
                        
                        <!-- Report Type Dropdown -->
                        <div class="form-group mb-0">
                            <select class="form-control report-select" id="report-type" name="reportType">
                                <option value="all" <%= (!reportType || reportType=='all')? 'selected':'' %>>All</option>
                                <option value="daily" <%= (reportType=='daily')? 'selected':'' %> >Daily</option>
                                <option value="weekly" <%= (reportType=='weekly')? 'selected':'' %> >Weekly</option>
                                <option value="yearly" <%= (reportType=='yearly')? 'selected':'' %> >Yearly</option>
                                <option value="custom" <%= (reportType=='custom')? 'selected':'' %> >Custom Date Range</option>
                            </select>
                        </div>
                        <div id="custom-date-range" class="<%= (reportType=='custom')? '':'d-none' %> ml-3">
                            <div class="d-flex">
                                <input type="date" id="start-date" class="form-control report-date-picker mr-2" placeholder="Start Date" name="startDate" value="<%= (startDate)? `${startDate}`:'' %>">
                                <input type="date" id="end-date" class="form-control report-date-picker" placeholder="End Date" name="endDate" value="<%= (endDate)? `${endDate}`:'' %>" >
                            </div>
                        </div>
                        <button type="submit" class="btn btn-dark ml-3" id="generate-report" >Generate Report</button>
                    
                    </div>
                </form>
            
                    <!-- Download Options -->
                    <div class="d-flex align-items-center">
                        <select class="form-control file-format-select mr-2" id="file-format">
                            <option value="pdf">PDF</option>
                            <option value="excel">Excel</option>
                        </select>
                        <button type="button" class="btn btn-download" onclick="downloadSales('<%=reportType%>','<%= startDate %>','<%= endDate %>')">
                            <i class="fa fa-download"></i> Download
                        </button>
                    </div>
                </div>
            
                <!-- Report Summary -->
                <div class="row">
                    <div class="col-sm-6 col-md-4 mb-3">
                        <div class="card card-summary bg-dark text-light mx-auto" style="max-width: 250px;">
                            <div class="card-body text-center">
                                <i class="fa fa-shopping-cart fa-2x mb-2"></i>
                                <h4>Total Sales</h4>
                                <p class="lead"><%= orderList.reduce((acc,curr)=> acc+curr.products.length,0) %></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 mb-3">
                        <div class="card card-summary bg-secondary text-light mx-auto" style="max-width: 250px;">
                            <div class="card-body text-center">
                                <i class="fa fa-money-bill fa-2x mb-2"></i>
                                <h4>Total Order Amount</h4>
                                <p class="lead">₹<%= parseInt(orderList.reduce((acc, curr) => acc + Number(curr.totalAmmount), 0)).toLocaleString() %></p>

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 mb-3">
                        <div class="card card-summary bg-light text-dark mx-auto" style="max-width: 250px;">
                            <div class="card-body text-center">
                                <i class="fa fa-tags fa-2x mb-2"></i>
                                <h4>Total Discount</h4>
                                <p class="lead">₹<%= parseInt(orderList.reduce((acc, curr) => acc + Number(curr.discount), 0)).toLocaleString() %></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="table-responsive p-t-20">

                    <table class="table table-bordered">
                        <thead>
                           
                            <tr>
                                <th>Date</th>
                                <th>Product</th>
                                <th>Product Name</th>
                                <th>Quantity</th>
                                <th>Email</th>
                                <th>Price</th>
                                <th>Discount</th>
                                <th>Amount Payed</th>
                                <th>Payment Method</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% salesList.forEach((sale)=>{ %>
                                <tr>
                                    <td><%= sale.createdAt.toLocaleDateString() %></td>
                                    <td><img src="<%= sale.productDetails.productImage1 %>" alt="" style="width: 50px;"></td>
                                    <td><%= sale.productDetails.productName %></td>
                                    <td><%=sale.products.quantity%></td>
                                    <td><%= sale.userDetails.email %></td>
                                    <td><%= sale.products.price %></td>
                                    <td><%= sale.products.discount %></td>
                                    <td><%= sale.products.amountPaid %></td>
                                    <td><%= sale.paymentMethod %></td>
                                </tr>
                            <% }) %>
                            
                               
                               
    
                        </tbody>
                    </table>
                </div>


                <div class="flex-c-m flex-w w-full p-t-45 gap-10">
                    <!-- Previous Button -->
                    <a href="/admin/sales?reportType=<%= reportType %>&&startDate=<%= startDate %>&&endDate=<%= endDate %>&&page=<%= (currentPage>1)? Number(currentPage)-1:1 %>"
                        class="m-r-20 text-dark">
                        <i class="fas fa-chevron-left"></i> Previous
                    </a>
                    <P class="m-r-20 text-dark">page : <%= currentPage %>
                    </P>
                    <!-- Next Button -->
                    <a href="/admin/sales?reportType=<%= reportType %>&&startDate=<%= startDate %>&&endDate=<%= endDate %>&&page=<%= (currentPage<totalNoOfPages)? Number(currentPage)+1:currentPage %>"
                        class=" text-dark">
                        Next <i class="fas fa-chevron-right"></i>
                    </a>
    
                </div>
            </div>

        </div>
    </div>

    <%- include('./partials/footer') %>

    <style>


    </style>

<script>
    
        const reportTypeSelect = document.getElementById('report-type');
        const customDateRange = document.getElementById('custom-date-range');
    
        reportTypeSelect.addEventListener('change', function() {
            if (this.value === 'custom') {
                customDateRange.classList.remove('d-none');                
            } else {
                customDateRange.classList.add('d-none');
            }
        });


        function downloadSales(reportType,startDate,endDate){
            const fileFromat=document.getElementById('file-format').value;
            console.log(1,fileFromat);
            
            if(fileFromat=='pdf'){
                window.location.href=`/admin/sales/downloadPdf?reportType=${reportType}&&startDate=${startDate}&&endDate=${endDate}`
            }else if(fileFromat=='excel'){
                window.location.href=`/admin/sales/downloadExcel?reportType=${reportType}&&startDate=${startDate}&&endDate=${endDate}`
            }
                
        }
   
    </script>

</body>
</html>
