<!DOCTYPE html>
<html lang="en">

<%- include('./partials/header') %>

<body>
    <div class="wrapper">
        <%- include('./partials/slidebar') %>

        <div id="content" class="p-4 p-md-5" style="background-color:#f1f2f5 ;">
            <div class="container mt-5">
                <div class="card">
                    <div class="card-header text-center">
                        <h2>Product Form</h2>
                    </div>
                    <div class="card-body">
                        <form action="/admin/products/viewEditProduct/<%= product._id %>/?_method=PUT" method="post" enctype="multipart/form-data">
                            <!-- Image Upload Section -->
                            <div class="form-group text-center">
                                <label for="productImages">Image Upload</label>
                                <div class="d-flex justify-content-center">
                                    <!-- Box 1 -->
                                    <div class="product-image-box mx-2">
                                        <label for="productImage1" class="image-label">
                                            <img id="previewImage1" class="image-preview" src="<%= product.productImage1 %>" alt="img1">
                                            <input type="file" class="form-control-file image-input" id="productImage1" accept="image/*" onchange="previewImage(event, 'previewImage1')" name="img1" value="<%= product.productImage1 %>">
                                        </label>
                                    </div>
                                    <!-- Box 2 -->
                                    <div class="product-image-box mx-2">
                                        <label for="productImage2" class="image-label">
                                            <img id="previewImage2" class="image-preview" src="<%= product.productImage2 %>" alt="img2" >
                                            <input type="file" class="form-control-file image-input" id="productImage2" accept="image/*" onchange="previewImage(event, 'previewImage2')" name="img2" value="<%= product.productImage2 %>" >
                                        </label>
                                    </div>
                                    <!-- Box 3 -->
                                    <div class="product-image-box mx-2">
                                        <label for="productImage3" class="image-label">
                                            <img id="previewImage3" class="image-preview" src="<%= product.productImage3 %>" alt="img3" >
                                            <input type="file" class="form-control-file image-input" id="productImage3" accept="image/*" onchange="previewImage(event, 'previewImage3')" name="img3" value="<%= product.productImage3 %>" >
                                        </label>
                                    </div>
                                </div>
                            </div>
        
                            

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="productID">Product ID</label>
                                    <input type="text" class="form-control" id="productID" value="<%= product._id %>" readonly>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="productName">Product Name</label>
                                    <input type="text" class="form-control" id="productName" name="productName" value="<%= product.productName %>" >
                                </div>

                                <div class="form-group col-md-6">
                                    <label for="productPrice">Price</label>
                                    <input type="number" class="form-control" id="productPrice" name="price" value="<%= product.price %>" min="0" >
                                </div>

                                <div class="form-group col-md-6">
                                    <label for="productOffer">Offer</label>
                                    <input type="number" class="form-control" id="productOffer" name="offers" value="<%= product.offers %>" min="0" >
                                </div>

                                <div class="form-group col-md-6">
                                    <label for="noOfOrders">No of Orders</label>
                                    <input type="number" class="form-control" id="noOfOrders" value="<%= product.noOfOrders %>" readonly>
                                </div>

                                <div class="form-group col-md-6">
                                    <div class="form-group">
                                        <label for="productCategory">Category</label>
                                        <select id="productCategory" class="form-control" name="category"  >
                                            <% categories.forEach((category)=>{ %>
                                                <% if(category.categoryName==product.category) {%>
                                                    <option selected><%= category.categoryName %></option>
                                                <% }else{ %>
                                                    <option><%= category.categoryName %></option>
                                                <% } %>
                                            <%  }) %>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group col-md-6">
                                    <div class="form-group">
                                        <label for="productSubCategory">Sub Category</label>
                                        <select id="productSubCategory" class="form-control" name="subCategory" >
                                            <% subCategories.forEach((subCategory)=>{ %>
                                                <% if(subCategory.subCategoryName==product.subCategory) {%>
                                                    <option selected><%= subCategory.subCategoryName %></option>
                                                <% }else{ %>
                                                    <option><%= subCategory.subCategoryName %></option>
                                                <% } %>
                                            <%  }) %>
                                        </select>
                                    </div>
                                </div>
                                
                                <div class="form-group col-md-6">
                                    <label for="productWeight">Stock</label>
                                    <input type="number" class="form-control" id="productWeight" name="stock" value="<%= product.stock %>" >
                                </div>
                            </div>
        
                            <div class="form-group">
                                <label for="productAbout">About</label>
                                <textarea class="form-control" id="productAbout" rows="1"  ><%= product.productAbout %></textarea>
                            </div>

                            <div class="form-group">
                                <label for="productDescription">Description</label>
                                <textarea class="form-control" id="productDescription" rows="10" name="productDescription" ><%= product.productDescription %></textarea>
                            </div>
        
                            <!-- Submit Button -->
                            <button type="submit" class="btn btn-primary btn-block">Save Product</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>  

    <%- include('./partials/footer') %>


    <script>
        function previewImage(event, previewId) {
            const file = event.target.files[0];
            if (file) {
                const reader = new FileReader();
                reader.onload = function(e) {
                    const previewElement = document.getElementById(previewId);
                    previewElement.src = e.target.result;
                    previewElement.style.display = 'block';
        
                    // Hide the icon after image loads
                    const iconElement = previewElement.parentElement.querySelector('i');
                    if (iconElement) {
                        iconElement.style.display = 'none';
                    }
                }
                reader.readAsDataURL(file);
            }
        }

    </script>
</body>
</html>