<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('./partials/head.ejs') %>
</head>

<body>

	<!-- Header -->
	<header class="header-v4">
		<%- include('./partials/header.ejs') %>
	</header>

	<!-- breadcrumb -->
	<div class="container">
		<div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
			<a href="/shop" class="stext-109 cl8 hov-cl1 trans-04 fs-18">
				shop
				<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
			</a>

			<a href="/shop/softwares" class="stext-109 cl8 hov-cl1 trans-04 fs-18">
				<%= product.categoryID.categoryName %>
					<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
			</a>

			<span class="stext-109 cl4">

			</span>
		</div>
	</div>


	<!-- Product Detail -->
	<section class="sec-product-detail bg0 p-t-65 p-b-60">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-lg-7 p-b-30">
					<div class="p-l-25 p-r-30 p-lr-0-lg">
						<div class="wrap-slick3 flex-sb flex-w">
							<div class="wrap-slick3-dots"></div>
							<div class="wrap-slick3-arrows flex-sb-m flex-w"></div>

							<div class="slick3 gallery-lb">
								<div class="item-slick3" data-thumb="<%= product.productImage1 %>">
									<div class="wrap-pic-w pos-relative">
										<img src="<%= product.productImage1 %>" alt="IMG-PRODUCT">

										<a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04"
											href="<%= product.productImage1 %>">
											<i class="fa fa-expand"></i>
										</a>
									</div>
								</div>

								<div class="item-slick3" data-thumb="<%= product.productImage2 %>">
									<div class="wrap-pic-w pos-relative">
										<img src="<%= product.productImage2 %>" alt="IMG-PRODUCT">

										<a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04"
											href="<%= product.productImage2 %>">
											<i class="fa fa-expand"></i>
										</a>
									</div>
								</div>

								<div class="item-slick3" data-thumb="<%= product.productImage3 %>">
									<div class="wrap-pic-w pos-relative">
										<img src="<%= product.productImage3 %>" alt="IMG-PRODUCT">

										<a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04"
											href="<%= product.productImage3 %>">
											<i class="fa fa-expand"></i>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-6 col-lg-5 p-b-30">
					<div class="p-r-50 p-t-5 p-lr-0-lg">
						<h4 class="mtext-105 cl2 js-name-detail p-b-14">
							<%= product.productName %>
						</h4>

						<p class="mtext-106 cl2">
							<span style="text-decoration: line-through">₹<%= product.price %></span> ₹<%= product.price
								- product.offers %>

						</p>

						<p class="stext-102 cl3 p-t-23">
							<%= product.productAbout %>
						</p>

						<p class="stext-125 cl3 p-t-23">
							No of stock : <%= product.stock %>
						</p>

						<div class="p-b-10">
							<div class="size-204 respon6-next">


								<% if(product.stock>0){%>
									<form action="/cart/addToCart/<%= product._id %>" method="post" id="addToCartForm"
										onsubmit="addToCart('<%= product._id %>',event)">
										<p id="stock-Left"></p>
										<div class="wrap-num-product flex-w  m-tb-10">

											<div class="btn-num-product-down btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m"
												onclick="decreaseProduct(this)">
												<i class="fs-16 zmdi zmdi-minus"></i>
											</div>

											<input class="mtext-104 cl3 txt-center num-product" type="number"
												name="quantity" value="1" id="productQuantity">

											<div class="btn-num-product btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m"
												onclick="increaseProduct(this,'<%= product.stock %>')">
												<i class="fs-16 zmdi zmdi-plus"></i>
											</div>
										</div>

										<button
											class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 js-addcart-detail"
											type="submit">
											Add to cart
										</button>
									</form>
									<% }else{ %>
										<p class="fs-20">Out Of Stock</p>
										<% } %>

							</div>
						</div>
					</div>

					<!--  -->
					<div class="flex-w flex-m  p-t-10 respon7">
						<div class="flex-m bor9 p-r-10 m-r-11">
							<a href="#"
								class="fs-20 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 js-addwish-detail tooltip100"
								data-tooltip="Add to Wishlist">
								<i class="zmdi zmdi-favorite"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="bor10 m-t-50 p-t-43 p-b-40">
			<!-- Tab01 -->
			<div class="tab01">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li class="nav-item p-b-10">
						<a class="nav-link active" data-toggle="tab" href="#description" role="tab">Description</a>
					</li>

					<li class="nav-item p-b-10">
						<a class="nav-link" data-toggle="tab" href="#reviews" role="tab">Reviews</a>
					</li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content p-t-43">
					<!-- - -->
					<div class="tab-pane fade show active" id="description" role="tabpanel">
						<div class="how-pos2 p-lr-15-md">
							<p class="stext-102 cl6">
								<%= product.productDescription %>
							</p>
						</div>
					</div>



					<!-- - -->
					<div class="tab-pane fade" id="reviews" role="tabpanel">
						<div class="row">
							<div class="col-sm-10 col-md-8 col-lg-6 m-lr-auto">
								<div class="p-b-30 m-lr-15-sm">
									<!-- Add review -->
									<form class="w-full m-b-100" action="/shop/product/addReview/<%=product._id%>"
										method="post" onsubmit="addReview(event)">
										<h5 class="mtext-108 cl2 p-b-7">
											Add a review
										</h5>

										<p class="stext-102 cl6">
											Share your experience with this product! Leave a review to help others make
											informed decisions. Rate the product and write about your thoughts, likes,
											or areas for improvement.
										</p>

										<div class="flex-w flex-m p-t-50 p-b-23">
											<span class="stext-102 cl3 m-r-16">
												Your Rating
											</span>

											<span class="wrap-rating fs-18 cl11 pointer">
												<i class="item-rating pointer zmdi zmdi-star-outline"></i>
												<i class="item-rating pointer zmdi zmdi-star-outline"></i>
												<i class="item-rating pointer zmdi zmdi-star-outline"></i>
												<i class="item-rating pointer zmdi zmdi-star-outline"></i>
												<i class="item-rating pointer zmdi zmdi-star-outline"></i>
												<input class="dis-none" type="number" name="ratingStar">
											</span>
										</div>

										<div class="row p-b-25">
											<div class="col-12 p-b-5">
												<label class="stext-102 cl3" for="comments">Your review</label>
												<textarea class="size-110 bor8 stext-102 cl2 p-lr-20 p-tb-10"
													id="comments" name="comments"></textarea>
											</div>
										</div>

										<button
											class="flex-c-m stext-101 cl0 size-112 bg7 bor11 hov-btn3 p-lr-15 trans-04 m-b-10"
											type="submit">
											Submit
										</button>
									</form>
									<!-- Review -->
									<% product.reviews.forEach(review=> {%>
										<div class="flex-w flex-t p-b-68">
											<div class="wrap-pic-s size-200 bor0 of-hidden m-r-18 m-t-6">
												<% if(review.userID.profilePicture){%>
													<img src="<%=review.userID.profilePicture%>" alt="AVATAR">
													<% }else{%>
														<i class="fas fa-user"></i>
														<% } %>

											</div>

											<div class="size-207">
												<div class="flex-w flex-sb-m p-b-17">
													<span class="mtext-107 cl2 p-r-20">
														<%= review.userID.username %>
													</span>

													<span class="fs-18 cl11">
														<% for(let i=0;i<review.ratingStar;i++){ %>
															<i class="zmdi zmdi-star"></i>
															<%} %>
													</span>
												</div>

												<p class="stext-102 cl6">
													<%=review.comments%>
												</p>
											</div>

										</div>

										<%}); %>



								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>

		<div class="bg6 flex-c-m flex-w size-302 m-t-73 p-tb-15">
			<span class="stext-107 cl6 p-lr-25">
				Categories: <%= product.categoryID.categoryName %>
			</span>

			<span class="stext-107 cl6 p-lr-25">
				SubCategories: <%= product.subCategoryID.subCategoryName %>
			</span>
		</div>
	</section>


	<!-- Related Products -->
	<section class="sec-relate-product bg0 p-t-45 p-b-105">
		<div class="container">
			<div class="p-b-45">
				<h3 class="ltext-106 cl5 txt-center">
					Related Products
				</h3>
			</div>


			<div class="related-products-container">
				<button class="prev-btn" onclick="scroll(-1)">&#10094;</button>
				<div class="related-products">
					<% relatedProducts.forEach((product)=> { %>
						<a href="/shop/product/<%= product._id %>" class="product-item">
							<div class="product-image">
								<img src="<%= product.productImage1 %>" alt="<%= product.productName %>">
							</div>
							<div class="product-info">
								<p class="product-name">
									<%= product.productName %>
								</p>
								<% let sum=0 %>
									<% product.reviews.forEach(element=> { %>
										<% sum+=element.ratingStar %>
											<% }); %>
												<% let average=sum/product.reviews.length %>
													<span class="fs-18 cl11">
														<% for(let i=0;i<average;i++){ %>
															<i class="zmdi zmdi-star"></i>
															<% } %>

													</span>
													<span class="product-price">
														₹<%= product.price %>
													</span>
							</div>
						</a>
						<% }) %>
				</div>
				<button class="next-btn" onclick="scroll(1)">&#10095;</button>
			</div>
		</div>
	</section>









	<!-- Footer -->
	<footer class="bg3 p-t-75 p-b-32">
		<%- include('./partials/footer.ejs') %>
	</footer>


	<%- include('./partials/backToTop.ejs') %>


		<%- include('./partials/scriptBody.ejs') %>


			<script>
				//handle the quantity

				const maximumProductQuantity = 10;

				// Function to decrease the number of products
				function decreaseProduct(button) {
					const quantity = document.getElementById(`productQuantity`)
					const quantityVal = Number(quantity.value);
					if (quantityVal > 1) {
						quantity.value = quantityVal - 1
						document.getElementById(`stock-Left`).innerText = ""
					};
				}

				// Function to increase the number of products
				function increaseProduct(button, stock) {
					const quantity = document.getElementById(`productQuantity`)
					const quantityVal = Number(quantity.value);

					if (quantityVal < stock && quantityVal < maximumProductQuantity) {
						quantity.value = quantityVal + 1;
					} else if (quantityVal == maximumProductQuantity) {
						document.getElementById(`stock-Left`).innerText = `Max ${maximumProductQuantity} is allwoed`
					} else {
						document.getElementById(`stock-Left`).innerText = "Out of Stock"
					}

				}

			</script>
			<script>
				//sending request to server

				//function ot add prouduct to cart
				function addToCart(productID, event) {
					event.preventDefault();
					let quantity = document.getElementById('productQuantity').value;
					fetch(`/cart/addToCart/${productID}`, {
						method: 'POST',
						headers: {
							'Content-Type': 'application/json'
						},
						body: JSON.stringify({
							quantity
						})
					}).then((res) => res.json())
						.then((data) => {
							if (data.success) {
								Swal.fire({
									title: "Good job!",
									text: data.success,
									icon: "success",
									footer: `<a href="/cart">Go to cart</a>`,
								})
							} else if (data.error) {
								Swal.fire({
									icon: "error",
									title: "Oops...",
									text: data.error,
									footer: data.errorRedirect
								});
							} else if(data.authError){
								Swal.fire({
									icon: "error",
									title: "Oops...",
									text: data.authError,
									footer: data.errorRedirect
								});
							}
						}).catch((err) => {
							console.log(err);
						})
				}


				//function to add review
				function addReview(event) {
					event.preventDefault();
					Swal.fire({
						title: "Good job!",
						text: "Review added",
						icon: "success",
						showConfirmButton: true,
					}).then((result) => {
						if (result.isConfirmed) {
							event.target.submit()
						}
					})

				}
			</script>

			<script>
				function scroll(direction) {
					const container = document.querySelector('.related-products');
					const scrollAmount = direction * 300; // Amount to scroll (adjust as needed)
					container.scrollBy({ left: scrollAmount, behavior: 'smooth' });
				}
			</script>


</body>

</html>